/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

@font-face {
    font-family: 'bebasregular';
    src: url('fonts/bebas___-webfont.eot');
    src: url('fonts/bebas___-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bebas___-webfont.woff2') format('woff2'),
         url('fonts/bebas___-webfont.woff') format('woff'),
         url('fonts/bebas___-webfont.ttf') format('truetype'),
         url('fonts/bebas___-webfont.svg#bebasregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'source_sans_proregular';
    src: url('fonts/sourcesanspro-regular-webfont.eot');
    src: url('fonts/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
         url('fonts/sourcesanspro-regular-webfont.woff') format('woff'),
         url('fonts/sourcesanspro-regular-webfont.ttf') format('truetype'),
         url('fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.img-controller
{
	width:200px;
	display:block;
}

.img-controller img
{
	width:100%;
}
.container{
	display: block;
	position: relative;
	margin: 0 auto;
	width: 1200px;
}

.container h1 {
	font-family: bebasregular;
	color: #202223;
	font-size: 32px;
	text-align: center;
	padding: 50px 0px 20px 0px;
}

.container h2 {
	font-family: source_sans_proregular;
	color: #202223;
	font-size: 22px;
	text-align: center;
}
.container h3 {
	font-family: source_sans_proregular;
	font-weight: bold;
	color: #202223;
	font-size: 18px;
	text-transform: uppercase;
	padding: 50px 0px 30px 0px;
}

.container p {
	font-family: source_sans_proregular;
	color: #202223;
	text-align: center;
	font-size: 16px;
}
.container form label {
	font-family: source_sans_proregular;
	color: #202223;
	text-align: center;
	font-size: 16px;
	display: block;
	text-align: left;
}
.container form input {
	display: block;
	padding-top: 20px;
	padding-bottom: 30px;
}

.container form textarea {
	display: block;
    margin: 20px 0px 10px 0px;
    width: 280px;
    height: 100px;
    border: 1.5px solid #202223;
    padding: 10px;
}

.container form button {
	border: 1.5px solid #202223;
    padding: 10px 20px;
    background-color: white;
    font-family: source_sans_proregular;
    font-size: 14px;
}
.container form button:hover{
	background-color: #202223;
	color: white;
	cursor: pointer;
}

.container ul {
	list-style: none;
}

.container ul li {
	display: inline-block;
}


.container footer {
	padding-top: 100px;
	padding-bottom: 30px;
}

.container figcaption {
	font-family: source_sans_proregular;
	color: #202223;
	font-size: 14px;
}


.container .log {
	float: right;
	display: inline-block;
	position: relative;
	top: 60px;
}

.container .log a {
	text-decoration: none;
	font-size: 16px;
	text-transform: uppercase;
	font-family: source_sans_proregular;
	color: #202223;
	border: 1.5px solid #202223;
	background-color: white;
    padding: 10px 20px;
}
.container .log a:hover {
	cursor: pointer;
	background-color: #202223;
	color: white;
}

.container .connect-zone {
	position: relative;
	display: block;
	margin: 0 auto;
	text-align: center;
}

.container .connexion-title {
	text-align: center;
	padding-bottom: 20px;
    padding-top: 40px;
}
.container .connexion {
	margin: 0 auto;
	margin-bottom: 30px;
	padding-left: 10px;
}



